@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

#container {
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 15px;
    font-family: poppins;
}

#button {
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: rgba(3, 113, 113, 0.51);
    transition: all 0.2s ease;
}