

@media (max-width: 1316px) {
    #Nav-Bar #Container #Name-Buttons #Name {
        display: none;
    }

    #Nav-Bar #Container #Name-Buttons {
        justify-content: center;
    }

    #Nav-Bar #Container #Name-Buttons #Buttons\ Left {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
    }

    #Nav-Bar #Container #Name-Buttons #Buttons\ Right {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        box-shadow: none;
    }

    #Nav-Bar #Container {
        width: 50%;
        min-width: 50%;
    }

    #Nav-Bar #Container #Name-Buttons {
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

}